<script setup lang="ts">
  import { onMounted, ref } from "vue";
  import DataAPI from "./services/DataAPI";
  import { Main } from "./types";

  const fetchedData = ref<Main>();

  const loadData = async () => {
    try {
      const response = await DataAPI.getData();
      fetchedData.value = response.data;
    } catch (err) {
      console.error("Failed to load data from API: ", err);
    }
  };

  function handlerDownloadPdf() {
    alert(`'downloadPdf': not implemented`);
  }
  function handlerAcceptQuote() {
    alert(`'acceptQuote': not implemented`);
  }
  function handlerDeclineQuote() {
    alert(`'declineQuote': not implemented`);
  }

  onMounted(async () => {
    await loadData();
  });

</script>

<template>
  <Header />
  <div class="flex flex-col items-center my-12 px-1 laptop:px-0">
    <div class="grid grid-cols-3 grid-flow-row gap-4 max-w-5xl">
      <div class="grid grid-cols-2 col-span-3 gap-4">
        <Summary class="col-span-2 sm:col-span-1 h-[246px]" 
          :quote="fetchedData?.quote" 
        />
        <Message class="col-span-2 sm:col-span-1 h-[246px]"
          :seller="fetchedData?.seller" 
          :quote="fetchedData?.quote"
       />
      </div>

      <DataTable
        :rows="fetchedData?.rows"
        class="col-span-3 md:col-span-2 md:row-span-2 overflow-x-auto"
      />
      <Information class="col-span-3 md:col-span-2 h-auto pt-0"/>

      <div
        id="button-container"
        class="grid gap-4 col-span-3 md:col-span-1 md:row-start-2 md:col-start-3"
      >
        <div class="grid grid-cols-2 gap-4">
          <ButtonInfo class="col-span-2 sm:col-span-1 md:col-span-2"
            :quote="fetchedData?.quote"
          />
          <div class="grid col-span-2 sm:col-span-1 md:col-span-2 gap-4">
            <ActionButton class="bg-light"
              @click="handlerDownloadPdf" 
            >
              <font-awesome-icon
                icon="fa-file-pdf"
                size="lg"
                class="text-white"
              />
              <p class="pl-2">Ladda ner PDF</p></ActionButton
            >
            <ActionButton class="bg-dark"
              @click="handlerAcceptQuote" 
              >Godkänn offert</ActionButton
            >
            <ActionButton class="bg-white"
              @click="handlerDeclineQuote" 
            ><p class="text-red">Neka offert</p></ActionButton
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped></style>
