@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-background;
    font-family:  "Inter var";
    @apply m-0;
    @apply p-0;
    @apply tracking-wide;
    @apply box-border;
  }
}

@layer components {
  .card {
    @apply p-[35px];
    @apply rounded-lg;
  }

}
