<script setup lang="ts">
  import { Quote } from "../types";

  interface Props {
    quote: Quote;
  }

  defineProps<Props>()

</script>

<template>
  <div class="card grid grid-cols-2 gap-3 bg-white text-dark">
    <div class="col-span-1">
      <p class="text-[13px] font-bold">Kundnummer</p>
      <p class="text-[12px]">{{ quote?.customer_number }}</p>
    </div>
    <div class="col-span-1">
      <p class="text-[13px] font-bold">Er order</p>
      <p class="text-[12px]">{{ quote?.meta.customer_address }}</p>
    </div>

    <div class="col-span-1">
      <p class="text-[13px] font-bold">Leveransvillkor</p>
      <p class="text-[12px]">{{ quote?.meta.delivery_terms }}</p>
    </div>
    <div class="col-span-1">
      <p class="text-[13px] font-bold">Betalningsvillkor</p>
      <p class="text-[12px]">{{ quote?.meta.payment_terms }}</p>
    </div>

    <div class="col-span-1">
      <p class="text-[13px] font-bold">Godsmärke</p>
      <p class="text-[12px]">{{ quote?.goods_mark }}</p>
    </div>
  </div>
</template>
