<script setup lang="ts">
  import { Row } from '../types';

  interface Props {
    rows: Row[]
  };

  defineProps<Props>();
  
</script>

<template>
  <div class="card bg-white">
    <table class="table-auto w-full m-0 p-0 overflow-scroll">
      <thead>
        <tr class="bg-[#F8FDFD]">
          <th class="t-head"> Produktnr    </th>
          <th class="t-head"> Benämning    </th>
          <th class="t-head"> Antal        </th>
          <th class="t-head"> Brutto ápris </th>
          <th class="t-head"> Netto ápris  </th>
          <th class="t-head"> Summa        </th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(item, index) in rows" :key="index" class="even:bg-[#F8FDFD]">
          <td class="t-td">{{ item?.id            }}</td>
          <td class="t-td">{{ item?.description    }}</td>
          <td class="t-td">{{ item?.ordered_amount }}</td>
          <td class="t-td">{{ item?.amount         }}</td>
          <td class="t-td">{{ item?.net_amount     }}</td>
          <td class="t-td">{{ item?.total_amount   }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<style scoped>
    .t-head, .t-td {
        @apply text-[12px];
        @apply px-4;
        @apply py-2;
        @apply text-left;
        @apply align-middle;
    }
    .t-head {
        @apply text-dark;
    }

</style>