<script lang="ts">

  export default {
    methods: {
      handlerQuestion(){alert(`handlerQuestion: not implemented`)}
    }
  }

</script>



<template>
  <div class="flex flex-col">
    <!-- top part of header  -->

    <div class="bg-dark flex justify-center">
      <div class="flex items-center h-[40px] w-full max-w-5xl laptop:px-0 px-3">
        <p class="uppercase text-[9px] text-white font-bold">
          TERRY offert - EN INTERAKTIV OFFERTLÖSNING FRÅN Terry Inc
        </p>
      </div>
    </div>

    <!-- lower part of header  -->
    <div class="bg-light flex justify-center">
      <div
        class="flex justify-between items-center h-[85px] w-full max-w-5xl laptop:px-0 px-3"
      >
        <!-- soundcload icon  -->
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="80"
          height="64"
          viewBox="0 0 80 64"
          fill="none"
        >
          <g clip-path="url(#clip0_1_179)">
            <path
              d="M13.8868 32.0375L14.6099 40.1625L13.8868 48.7C13.8495 49.0125 13.6126 49.25 13.3384 49.25C13.0641 49.25 12.8148 49.0125 12.8148 48.7L12.1167 40.1625L12.8148 32.0375C12.8148 31.7625 13.0516 31.5125 13.3384 31.5125C13.6126 31.5125 13.8495 31.7625 13.8868 32.0375ZM16.5545 26.3375C16.2055 26.3375 15.9686 26.6125 15.9312 26.9625L15.3079 40.1625L15.9312 48.7C15.9686 49.05 16.2055 49.325 16.5545 49.325C16.8662 49.325 17.1404 49.05 17.1404 48.7L17.8634 40.1625L17.1404 26.9625C17.1404 26.6125 16.8662 26.3375 16.5545 26.3375ZM19.7333 23.325C19.3468 23.325 19.0726 23.6 19.0352 23.9875L18.4867 40.2375L19.0352 48.7125C19.0726 49.1 19.3468 49.375 19.7333 49.375C20.0823 49.375 20.394 49.1 20.394 48.7125L21.0547 40.2375L20.394 23.9875C20.394 23.6 20.0823 23.325 19.7333 23.325ZM0.897534 35.4C0.723014 35.4 0.623288 35.5375 0.58589 35.7125L0 40.1625L0.58589 44.5375C0.623288 44.7125 0.723014 44.85 0.897534 44.85C1.07205 44.85 1.17178 44.7125 1.20918 44.5375L1.90726 40.1625L1.20918 35.7125C1.17178 35.5375 1.07205 35.4 0.897534 35.4ZM3.83945 32.6625C3.66493 32.6625 3.52781 32.8 3.52781 32.975L2.73 40.1625L3.52781 47.175C3.52781 47.3875 3.66493 47.525 3.83945 47.525C4.01397 47.525 4.1511 47.3875 4.18849 47.2125L5.08603 40.1625L4.18849 32.975C4.1511 32.8 4.01397 32.6625 3.83945 32.6625ZM6.99329 31.2375C6.78137 31.2375 6.60685 31.4125 6.58192 31.65L5.8589 40.1625L6.58192 48.3875C6.61931 48.6 6.79384 48.775 6.99329 48.775C7.2052 48.775 7.37973 48.6 7.37973 48.3875L8.23986 40.1625L7.37973 31.65C7.37973 31.4125 7.2052 31.2375 6.99329 31.2375ZM10.1471 30.9625C9.91027 30.9625 9.69836 31.1375 9.69836 31.4125L8.97534 40.1625L9.69836 48.6375C9.69836 48.9125 9.91027 49.0875 10.1471 49.0875C10.384 49.0875 10.5959 48.9125 10.6333 48.6375L11.4311 40.1625L10.6333 31.4125C10.5959 31.1375 10.384 30.9625 10.1471 30.9625ZM40.2394 17.1C40.1023 17 39.8904 16.925 39.7159 16.925C39.4416 16.925 39.1923 17.025 39.0178 17.1625C38.781 17.375 38.6314 17.6875 38.6064 18V18.1L38.1951 40.1875L38.407 44.25L38.6189 48.2125C38.6563 48.8 39.1425 49.2875 39.7284 49.2875C40.3142 49.2875 40.8004 48.8 40.8004 48.2125L41.2866 40.1875L40.8004 18C40.7505 17.625 40.5511 17.275 40.2394 17.1ZM36.9111 19.0125C36.7366 18.9125 36.5621 18.8375 36.3626 18.8375C36.1632 18.8375 35.9762 18.9125 35.8141 19.0125C35.5399 19.1875 35.3653 19.5 35.3653 19.85L35.3279 20.0625L34.9789 40.1625C34.9789 40.1625 34.9789 40.2 35.3653 48.3625V48.4C35.3653 48.6125 35.4401 48.8125 35.5773 48.9875C35.7892 49.225 36.0634 49.375 36.3751 49.375C36.6493 49.375 36.8986 49.2375 37.0731 49.0625C37.2851 48.8875 37.3848 48.65 37.3848 48.3625L37.4222 47.525L37.8086 40.2L37.3973 19.85C37.3599 19.5 37.1853 19.1875 36.9111 19.0125ZM23.0242 21.825C22.6378 21.825 22.3012 22.175 22.3012 22.5875L21.7527 40.1625L22.3012 48.5625C22.3386 48.975 22.6503 49.2875 23.0242 49.2875C23.4356 49.2875 23.7473 48.975 23.7847 48.5625L24.4079 40.1625L23.7847 22.5875C23.7597 22.175 23.4481 21.825 23.0242 21.825ZM69.9827 29.675C68.6364 29.675 67.3525 29.95 66.1682 30.4375C65.3704 21.5875 57.9658 14.6375 48.9281 14.6375C46.7092 14.6375 44.5651 15.05 42.6578 15.8125C41.8974 16.0875 41.6855 16.3625 41.6855 16.9625V48.175C41.6855 48.8 42.1716 49.25 42.7575 49.325H69.9703C75.3679 49.325 79.7684 44.95 79.7684 39.5375C79.7808 34.0875 75.3804 29.675 69.9827 29.675ZM32.9968 22.1375C32.4733 22.1375 32.0619 22.55 32.0245 23.1125L31.6131 40.2L32.0245 48.4C32.0619 48.925 32.4733 49.3375 32.9968 49.3375C33.5204 49.3375 33.9318 48.925 33.9318 48.4L34.4179 40.2L33.9318 23.1125C33.8944 22.55 33.5204 22.1375 32.9968 22.1375ZM26.3152 21.1625C25.9038 21.1625 25.5174 21.55 25.5174 22L25.0312 40.1625L25.5174 48.525C25.5548 48.975 25.9038 49.325 26.3152 49.325C26.764 49.325 27.113 48.975 27.1504 48.525L27.6989 40.1625L27.1504 22C27.113 21.55 26.764 21.1625 26.3152 21.1625ZM29.6436 21.5875C29.1574 21.5875 28.7834 21.975 28.7834 22.45L28.2973 40.1625L28.7834 48.4625C28.8208 48.95 29.1699 49.325 29.6436 49.325C30.1173 49.325 30.5037 48.9375 30.5037 48.4625L31.0273 40.1625L30.5037 22.45C30.5037 21.9625 30.1297 21.5875 29.6436 21.5875Z"
              fill="white"
            />
          </g>
          <defs>
            <clipPath id="clip0_1_179">
              <rect width="79.7808" height="64" fill="white" />
            </clipPath>
          </defs>
        </svg>

        <!-- question button  -->
        <div @click="handlerQuestion" class="flex gap-2 px-[30px] py-[11px] bg-white rounded-[100px]
                  hover:shadow-lg hover:cursor-pointer
          "
        >
          <font-awesome-icon
            icon="fa-solid fa-circle-question"
            size="lg"
            class="text-dark"
          />
          <p class="text-[13px] font-bold">Ställ en fråga</p>
        </div>
      </div>
    </div>
  </div>
</template>
