<script setup lang="ts"></script>

<template>
  
  <div class="card text-dark bg-white">
    <h2 class="leading-[4rem] text-[13px] font-bold">Information</h2>

    <p class="text-[12px]" >Quis tenetur ratione. Neque molestias doloribus suscipit. Dolor quisquam pariatur minima voluptatem. Natus eligendi nostrum odit excepturi saepe alias saepe. Vero eum illo ad hic consequuntur beatae.</p>

    <h2 class="leading-[4rem] text-[13px] font-bold">Frakt</h2>

    <p class="text-[12px]" >Observera att frakt, pall och emballage inte ingår i priset och tillkommer. Leveranstiden för ej lagerförda material är 6-8 veckor. Vi följer gällande standarder. Offerten är giltig i 30 dagar och priset avser endast de artiklar som anges i offerten. Priserna är baserade på en överenskommen rabatt gentemot bruttoprislistan. Var vänlig kontrollera offerten noggrant då Watt inte tar ansvar för eventuella fel i produktbeskrivningen.</p>
  </div>

</template>
