<script setup lang="ts">
  import { Quote, Seller } from '../types';

  interface Props {
    quote: Quote,
    seller: Seller,
  }

  defineProps<Props>()
</script>

<template>
  <div
    class="card relative bg-gradient-to-r from-dark to-light pl-[38px] pt-[31px]"
  >
    <!--Av någon andledning fungerar inte "whitespace-pre-wrap" så använder <br> ist -->
    <div 
      class="text-[12px] text-white mr-40 sm:mr-6 md:mr-32 " 
      >Hej {{ quote?.customer_name }}, <br>
      <!-- Ska här vara något annat meddelande? Något annat meddelande saknar i API-datan, bara tomma "comment", "quote_text"  -->
      <br>
      Tack för Er förfrågan. Om du har några frågor så kan du nå mig på 0707 - 54 54 54 eller via kontaktfunktionen direkt här på sidan. <br>
      <br>
      Mvh <br>
      {{ seller?.name }} <br>
      {{ seller?.initials }} <!-- Hittar ingen annan mer lämpligt förtagsnamn för säljaren. -->
    </div>
    <img
      class="absolute bottom-0 right-0 rounded-br-lg sm:hidden md:block"
      src="/images/watt-kbb-90722.png"
      alt=""
    />
  </div>
</template>
