<script setup lang="ts">
  import { Quote } from '../types';

  interface Props {
    quote: Quote
  }

  defineProps<Props>()
</script>

<template>
  <div class="card flex bg-dark text-white  ">

    <img class="flex-1 object-contain w-1/3 sm:hidden mlg:block " 
      src="/images/wr-4-watt-products-89581.png" alt="" />

    <div class="flex flex-col">

      <div class="mb-[20px]">
        <p class="text-[13px] ">Offererad summa:</p>
        <p class="text-[13px] leading-[22px]"><span class="text-3xl font-black ">
          {{ quote?.net_amount.toLocaleString() }} SEK</span><span class="whitespace-nowrap"> exkl. moms</span>
        </p>
      </div>

      <div class="grid grid-cols-2 gap-4">

          <div>
            <p class="text-[13px] font-bold">Offertnummer</p>
            <p class="text-[12px]">{{ quote?.system_quote_id }}</p>
          </div>
          <div>
            <p class="text-[13px] font-bold">Offertdatum</p>
            <p class="text-[12px]">{{ new Date(quote?.quote_date).toLocaleDateString() }}</p>
          </div>

          <div>
            <p class="text-[13px] font-bold">Vår referens</p>
            <p class="text-[12px]"> {{ quote?.meta.our_reference }} </p>
          </div>
          <div>
            <p class="text-[13px] font-bold">Er referens</p>
            <p class="text-[12px]">{{ quote?.meta.customer_reference }}</p>
          </div>

      </div>

    </div>

  </div>
</template>
